.vs/OAS_FE/DesignTimeBuild/.dtbcache.v2
.vs/OAS_FE/FileContentIndex/5f1ac33a-d0d6-4e30-a688-fe637be3e33f.vsidx
.vs/OAS_FE/v17/.futdcache.v2
.vs/OAS_FE/v17/.suo
.vs/OAS_FE/v17/fileList.bin
.vs/ProjectEvaluation/oas_fe.metadata.v7.bin
.vs/ProjectEvaluation/oas_fe.projects.v7.bin
Admin/obj/Admin.csproj.nuget.dgspec.json
Admin/obj/Admin.csproj.nuget.g.props
Admin/obj/Admin.csproj.nuget.g.targets
Admin/obj/project.assets.json
Admin/obj/project.nuget.cache
Admin/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Admin/obj/Debug/net6.0/Admin.AssemblyInfo.cs
Admin/obj/Debug/net6.0/Admin.AssemblyInfoInputs.cache
Admin/obj/Debug/net6.0/Admin.assets.cache
Admin/obj/Debug/net6.0/Admin.csproj.AssemblyReference.cache
Admin/obj/Debug/net6.0/Admin.GeneratedMSBuildEditorConfig.editorconfig
Admin/obj/Debug/net6.0/Admin.RazorAssemblyInfo.cache
Admin/obj/Debug/net6.0/Admin.RazorAssemblyInfo.cs
Auctioneer/obj/Auctioneer.csproj.nuget.dgspec.json
Auctioneer/obj/Auctioneer.csproj.nuget.g.props
Auctioneer/obj/Auctioneer.csproj.nuget.g.targets
Auctioneer/obj/project.assets.json
Auctioneer/obj/project.nuget.cache
Auctioneer/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Auctioneer/obj/Debug/net6.0/Auctioneer.AssemblyInfo.cs
Auctioneer/obj/Debug/net6.0/Auctioneer.AssemblyInfoInputs.cache
Auctioneer/obj/Debug/net6.0/Auctioneer.assets.cache
Auctioneer/obj/Debug/net6.0/Auctioneer.csproj.AssemblyReference.cache
Auctioneer/obj/Debug/net6.0/Auctioneer.GeneratedMSBuildEditorConfig.editorconfig
Auctioneer/obj/Debug/net6.0/Auctioneer.GlobalUsings.g.cs
Auctioneer/obj/Debug/net6.0/Auctioneer.RazorAssemblyInfo.cache
Auctioneer/obj/Debug/net6.0/Auctioneer.RazorAssemblyInfo.cs
Bidder/obj/Bidder.csproj.nuget.dgspec.json
Bidder/obj/Bidder.csproj.nuget.g.props
Bidder/obj/Bidder.csproj.nuget.g.targets
Bidder/obj/project.assets.json
Bidder/obj/project.nuget.cache
Bidder/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Bidder/obj/Debug/net6.0/Bidder.AssemblyInfo.cs
Bidder/obj/Debug/net6.0/Bidder.AssemblyInfoInputs.cache
Bidder/obj/Debug/net6.0/Bidder.assets.cache
Bidder/obj/Debug/net6.0/Bidder.csproj.AssemblyReference.cache
Bidder/obj/Debug/net6.0/Bidder.GeneratedMSBuildEditorConfig.editorconfig
Bidder/obj/Debug/net6.0/Bidder.RazorAssemblyInfo.cache
Bidder/obj/Debug/net6.0/Bidder.RazorAssemblyInfo.cs
Utilities/obj/project.assets.json
Utilities/obj/project.nuget.cache
Utilities/obj/Utilities.csproj.nuget.dgspec.json
Utilities/obj/Utilities.csproj.nuget.g.props
Utilities/obj/Utilities.csproj.nuget.g.targets
Utilities/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Utilities/obj/Debug/net6.0/Utilities.AssemblyInfo.cs
Utilities/obj/Debug/net6.0/Utilities.AssemblyInfoInputs.cache
Utilities/obj/Debug/net6.0/Utilities.assets.cache
Utilities/obj/Debug/net6.0/Utilities.csproj.AssemblyReference.cache
Utilities/obj/Debug/net6.0/Utilities.GeneratedMSBuildEditorConfig.editorconfig
Utilities/obj/Debug/net6.0/Utilities.GlobalUsings.g.cs
