<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" showFlags="Date, Time, Size, Extension" />
        <defaultDocument>
            <files>
                <add value="Views/Authen/Index.cshtml" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
